* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.prettierrc export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore
/app export-ignore
/art export-ignore
/bootstrap export-ignore
/box.json export-ignore
/bun.lockb export-ignore
/composer.lock export-ignore
/config export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/fixr export-ignore
/fixr.json export-ignore
/release.config.js export-ignore
/resources export-ignore
/storage export-ignore
/tests export-ignore
